@using Demo_MVC_CRUD.Models
@*@model Demo_MVC_CRUD.Models.Book*@

@{
    ViewBag.Title = "Index";
}

<h2>Lista carti - te fac neprost</h2>

<a href="/books/create" class="btn btn-success">Creare carte</a>

<br />

@{
    var booksList = ViewData["books"] as List<Book>;

    foreach (var book in booksList)
    {
        <div class="col-md-4 col-lg-4 col-xs-6 col-sm-4">
            
            @Html.Label("Title", "Title:")
            <p>@book.Title</p>

            <br />

            @Html.Label("Author", "Author:")
            <p>@book.Author.LastName</p>

            <br />

            @using (Html.BeginForm(actionName: "Details",
            controllerName: "Books",
            method: FormMethod.Get,
            routeValues: new { id = book.Id }))
            {
            <button class="btn btn-info">Detalii</button>

            }

            <br />

            <a href="/books/edit/@book.Id" class="btn btn-warning">Editare</a>

            <br />
            <br/>

            <a href="/books/delete/@book.Id" class="btn btn-danger">Sterge</a>

        </div>




    }
}

